*{
    margin: 0;
    padding: 0;
    border: 1px solid blue;
    
}

main {
    background-color: aqua;

}

#pii {
    background-color: blueviolet;
}

#encabezado {
    background-color: blueviolet;
}


